*{
    color:chocolate;
}

#h2{
    color: blue;
    background-color: cyan;
}
.myclasss{
    color: darkslategray;
}
p{
    color: peru;
    background-color: black;
}
button{
    color:darkorchid;
    background-color: black;
}
body{
    background-color:antiquewhite;
}